*{
  margin: 0;
  padding: 0;
}

img{
  border-radius: 0.5rem;
}

.primary-button{
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  color: black;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
  transition: background, border, color 0.5s;
}

h1{
  color: #F4CE14;
  font-family: Markazi-Text;
  font-size: 300%;
  margin: 0rem 0.1rem 0.1rem;
}

.underconstruction h1{
  display: flex;
  justify-content: center;
  margin: 2% auto;
}

h2{
  color: #edefee;
  font-family: 'Markazi-Text';
  font-size: 200%;
  font-weight: 100;
  margin-top: 0.1rem;

}

p{
  color: #edefee;
}

a:link{
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.booking-form{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  /* padding: 1rem 2rem; */
  padding: 5% 40%;
  max-width: 50%;
  gap: 5px;
}

